.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: $white-gray;
  color: $black;
  max-width: 30rem;
  outline: none;
  padding: $l-size;
  text-align: center;
}

.modal__body {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 $l-size 0;
  word-break: break-all;
}

.modal__button {
  margin: 0 0 0 $xs-size;
  border: $green 1px solid;
  padding: $xs-size;
  background: $green;
  font-size: $xs-size;
  box-shadow: 2px 2px 4px $gray;
}