.task-item {
  margin: $s-size;
  border: 0.1rem $green solid;
  display: inline-block;
  width: 60rem;
  box-shadow: 2px 2px 4px $gray;
  &__button {
    float: right;
    margin: $xs-size;
    padding: $xs-size;
    background: $green;
    border-radius: 3px;
    box-shadow: 2px 2px 4px $gray;
  }
  &__requester {
    margin: $xs-size;
  }
  &__worker {
    margin: $xs-size;
  }
  &__start-date {
    margin: $xs-size;
  }
  &__deadline-date {
    margin: $xs-size;
  }
  &__contents {
    margin: $xs-size;
  }
  &--expired {
    border: 0.1rem $red solid;
  }
}
